// Use Singularity as the container engine (can pull docker:// images)
singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B /home/kashif/nazar/acb:/home/kashif/nazar/acb"
}

process {
    // Default resources
    cpus = 8
    memory = '8 GB'

    // Specific process configurations
    withName: alignReads      { container = 'docker://staphb/minimap2:latest' }
    withName: indexFasta      { container = 'docker://staphb/samtools:latest' }
    withName: dictFasta       { container = 'docker://broadinstitute/picard:latest' }
    withName: makeBed         { container = 'docker://staphb/samtools:latest' }
    withName: deepvariant     { container = 'docker://google/deepvariant:1.6.0'; memory = '16 GB' }
    withName: clair3          { container = 'docker://hkubal/clair3:latest'; memory = '16 GB' }
    withName: makeMapping     { container = 'docker://staphb/samtools:latest' }
    withName: renameContigs   { container = 'docker://biocontainers/bcftools:v1.9-1-deb_cv1' }
    withName: renameRef       { container = 'docker://staphb/samtools:latest' }
    withName: dictRenamedRef  { container = 'docker://broadinstitute/picard:latest' }
    withName: hapPy           { container = 'docker://quay.io/biocontainers/hap.py:0.3.7--py27_0'; memory = '8 GB' }
}

executor {
    name = 'local'
    cpus = 60
    memory = '120 GB'
}