// Use Singularity as the primary container engine
singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B /home/kashif/nazar/acb:/home/kashif/nazar/acb"
}

process {
    withName: deepvariant {
        container = 'docker://google/deepvariant:1.6.0'
        cpus = 8
        memory = '20 GB'
    }
    withName: clair3 {
        container = 'docker://hkubal/clair3:latest'
        cpus = 8
        memory = '20 GB'
    }
    withName: renameContigs {
        container = 'docker://biocontainers/bcftools:v1.9-1-deb_cv1'
        cpus = 4
        memory = '4 GB'
    }
    withName: prepareChrRef {
        container = 'docker://staphb/samtools:latest'
        cpus = 2
        memory = '4 GB'
    }
    withName: hapPy {
        container = '/home/kashif/nazar/acb/singularity_images/happy.sif'
        cpus = 8
        memory = '10 GB'
    }
}

executor {
    name = 'local'
    cpus = 60
    memory = '120 GB'
}